.body{
background-image: url("https://i.pinimg.com/originals/2f/88/a9/2f88a9427474343f7275e3b8f6fcc2e1.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
display: flex;
}


.header img{
  width: 180px; 
}
.header{
  z-index: 1;
  height: 100px;
  position: absolute;
}
